.add {
  height: 200px;
  width: 300px;
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

h4 {
  margin: 0;
  flex-grow: 1;
  text-align: center;
  color: white;
  font-size: 30px;
}

.result{
  text-align: center;
}
