body {
  background-image: url('./background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow: auto; /* добавить полосу прокрутки */
}
#root {
  min-height: 100%;
}

::-webkit-scrollbar {
  /* chrome based */
  width: 0px; /* ширина scrollbar'a */
  background: transparent; /* опционально */
}
