body {
  background-image: url('https://novoboi.ru/download_img.php?dimg=11889&raz=1920x1080');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  overflow: auto; /* добавить полосу прокрутки */
}
#root {
  min-height: 100%;
}

::-webkit-scrollbar {
  /* chrome based */
  width: 0px; /* ширина scrollbar'a */
  background: transparent; /* опционально */
}
